.login-form {
    color: #5e5e5e;
}
.login-logo {
    font-family: "Microsoft YaHei UI Light";
    font-size: 60px;
    margin: 0 auto;
    text-align: center;
}

td {
    padding-top: 20px;
}


table {
    margin: 0 auto;
}