.framestyle {
    width: 100%;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.barfoot {
    position: absolute;
    left:200px;
    top: 13px;
    width: 70%;
    z-index: 999;
}
.nav-flow {
    float: left;
}
.nav>.play-list {
    position: absolute;
    right: 5px;
}
