/*@font-face {*/
    /*font-family: "STXIHEI";*/
    /*src: url("../fonts/STXIHEI.TTF");*/
/*}*/
* {
    margin: 0;
    padding: 0;
}
#all {
    background-color: #218868;
}
body {
    background-color: #43CD80;
    font-family: STXIHEI;
    font-weight: bold;
    font-size: 18px;
    color: #262626;
}

/*播放器宽度*/
#music_player {
    position: fixed;
    bottom: 0;
    width: 100%;
}
#audio {
    width: 100%;
}
/*音乐信息*/
#search {
    background-color: #3CB371;
}
/*菜单*/
#menu {
    height:auto!important;
    /*background-color: #218868;*/
}

#head {
    height: 10%;
    background-color: #458B74;
    font-size: 20px;
}

#music_info {
    position: relative;
}

.menu {
    height:auto;
}
.input {
    background-color: transparent;
    color: #ffffff;
}